*.class
*.prefs
WALibHTMLTools/bin/
out/
WALibPiccompress/bin/
WALibHTMLTools/gen/
WALibUploadAttachment/bin/
WALibPiccompress/gen/
WAFramework/bin/
WAFramework/gen/
WAFrameworkSimplePoll/bin/
WAFrameworkSimplePoll/gen/
WAModuleTaskV63/bin/
WAModuleTask/bin/
ECMobile/bin/
ECMobile/gen/
ECMFeedBack/bin/
ECMFeedBack/gen/
.metadata/
ECMPush/bin/
ECMPush/gen/
.idea/
WAModuleTask/gen/
WAModuleTaskV63/gen/
WALibUploadAttachment/gen/
